body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    width: 13%;
    border: 5px solid black;
    height: 52px;
    width: 140px;
    padding: 12px 15px;
    cursor: pointer;
}

p{
    text-align: center;
    text-decoration: underline;
}